<h1><%= gravatar_for @user, size: 100 %> <%= @user.username %>'s profile</h1>

<p>
    <%if logged_in? && @user == current_user %>
        <%= link_to "Edit your profile", edit_user_path(@user) %>
    <% end %>
</p>

<%= will_paginate @articles, :container => false %>

<%= render 'articles/article' %>

<%= will_paginate @articles, :container => false %>
